html,
body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body,
body div {
  height: 100%;
}

body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0;
  color: #fff;
}

h1 span {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.3rem;
  font-size: 8rem;
}

@media (min-width: 350px) and (max-width: 400px) {
  h1 span {
    font-size: 6rem;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  h1 span {
    font-size: 7rem;
  }
}

div div {
  color: #fff;
  font-size: 0.8rem;
  position: fixed;
  bottom: 2rem;
  text-align: center;
  width: 100%;
  height: 1rem;
}

div div span span,
div div span a {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0.2rem;
}

a {
  color: #fff;
  text-decoration: none;
}
